[flake8]
max-line-length = 120
per-file-ignores =
    __init__.py:F401
ignore = F401, SC200, A003, ANN001, ANN002, ANN003, ANN101, ANN102, ANN201, ANN202, ANN204, ANN206, D103, N802,
    D100, D101, D102, D105, D107, D401,
    W503, I100, I201, I202
exclude = .git,__pycache__,migrations
import-order-style = pycharm
dictionaries=en_US,python,technical,django